.navbar{
	background-color: #18377b;
	width: 100%;
	height: 45px;
	position: fixed;
	top:0;
	left: 0;
	z-index: 10;
}
.rightBtn{
	position: absolute;
    right: 0;
	top: -2px;
	background-image: url(/images/navbar/menu.png);
	height: 45px;
	width: 60px;
	display: none;
}
.navLogo{
	height:45px;
	font-size:30px;
	float: left;
    margin-left: 9px;
    cursor: pointer;
}
.nav-menu{
	list-style-type: none;
}
.nav-menu>li:hover{
	color: #afafaf;
	cursor: pointer;
}
li > a {
    color: #ffffff !important;
}
@media screen and (min-width: 583px) {
	.nav-menu>li{
		float: left;
		font-size: 20px;
	    line-height: 11px;
	    padding-left: 25px;
	}	
}

@media screen and (max-width: 583px) {
	.nav-menu>li{
		font-size: 20px;
	    color: #ffffff;
        margin-bottom: 10px;
	}
	.nav-menu {
		margin-top: 5px;
		padding: 0 0 0 17px;
	}
	.rightBtn{
		display:block;
	}
	.menu-background {
	    position: fixed;
	    top: 45px;
	    left: 0px;
	    display: none;
	    width: 100%;
	    background-color: #1d3d85;
	}
}